# Ignorer les caches Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info

# Ignorer les venv
.venv/
venv/

# Ignorer les fichiers temporaires de pytest
.pytest_cache/
htmlcov/
.coverage

# Ignorer les datas
datas/
